/* Importando os estilos de outros componentes */

@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./modal.css');

/* Importação de fontes */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

/* Definição de váriaveis */

:root {
    --font-title: "Lilita One", sans-serif;
    --font-text: "Literata", serif;
    --header-color: #32323280;
    --main-white: #F1F1F1;
    --main-black: #111111;
    --modal-color: #202020;
}

/* Configurações globais */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--main-white);

    display: flex;
    flex-direction: column;
}
