@import url("./globals.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: var(--main-black);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active,
nav ul li a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem;
}

.highlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
}

.featured-image {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description {
    max-width: 600px;
}

.description h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description p {
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 40px;
}

.details h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.details ul {
    width: 80%;
    list-style: none;
    padding: 0;
}

.details ul li {
    margin-bottom: 0.5rem;
}

.details ul li strong {
    font-weight: bold;
}

/* Rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-black);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    font-size: 0.9rem;
}